html,
body {
  overflow: hidden;
  height: 100%;
}

.background-global {
  color: white;
  background: #282c34; 
}

.background-image {
  background-image: url("https://r4.wallpaperflare.com/wallpaper/623/270/361/video-game-apex-legends-bloodhound-apex-legends-hd-wallpaper-e960480df17a1d1b96f7a89f90f1563d.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  filter: brightness(35%);
  width: 100%;
  height: 100%;
  
}