html,
body {
  overflow: hidden;
  height: 100%;
}

.background-global {
  position: relative;
  color: white; 
  -webkit-backdrop-filter: brightness(35%);
  backdrop-filter: brightness(35%);
}

.background-image {
  background-image: url("https://r4.wallpaperflare.com/wallpaper/623/270/361/video-game-apex-legends-bloodhound-apex-legends-hd-wallpaper-e960480df17a1d1b96f7a89f90f1563d.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  width: 100%;
  height: 100%;
}

.tournament-card {
  margin: 1vh;
  opacity: 0.65;
  margin-left: 5vh;
  margin-right: 5vh;
}

.scrollable-card-group {
  max-height: 100%; 
  overflow-y: auto;
}