html,
body {
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.background-global {
  position: relative;
  color: white;
  min-height: calc(100vh - 75px - 50px);
}

.background-image {
  position: absolute;
  background-image: url("https://r4.wallpaperflare.com/wallpaper/623/270/361/video-game-apex-legends-bloodhound-apex-legends-hd-wallpaper-e960480df17a1d1b96f7a89f90f1563d.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  filter: blur(5px) brightness(35%);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.footer {
  width: 100%;
  height: 75px;
}

.tournament-card {
  margin: 1vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.scrollable-card-group {
  max-height: 100%;
  overflow-y: auto;
}

.login-form {
  position: absolute;
  border-radius: 3vh;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  background-color: rgb(33, 37, 41, 0.8);
  top: 25%;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.tCreator {
  border-radius: 3vh;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  background-color: rgb(33, 37, 41, 0.8);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1320px;
  padding: 20px;
}

.tDetails {
  border-color: black;
  border-style: solid;
  border-width: 5px;
  background-color: rgb(33, 37, 41, 0.8);
  margin: 2vh;
}

.team-card-col {
  margin-bottom: 20px;
}

.team-card {
  background-color: #ffffff00;
  color: white;
  border: none;
}

.tournaments-box {
  margin: 10px 10px;
  background-color: rgb(33, 37, 41, 0.8);
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 1vh;
  padding: 10px;
}


.rich-editor {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}